node_modules/
dist/
.env
.env.*
!.env.example

.DS_Store
coverage/

storage/originals/
storage/generated/
storage/audio/
storage/thumbnails/
storage/temp/
storage/images/
storage/videos/

backend/prisma/*.db
